.music-control {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 50%;
    background-color: transparent;
    border: 10px solid #fff;
    box-shadow: 0px 10px 40px 0px rgb(76 70 124 / 30%);
    cursor: pointer;
}

.music-control svg {
    width: 34px;
}

